{% extends 'layouts/base.html' %}

{% block header %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" style="font-family: 'Gotham', sans-serif;margin-top:7px;margin-bottom:7px;min-width:95%;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          {% if current_user.is_authenticated %}
              {% if current_user.role == 'member' %}
                <a href="{{ url_for('page.home') }}">
                  <span style="font-family:'Fredoka One', sans-serif !important; font-weight:200;font-size:36px;color:#0073ff;margin-left:10px;">{{ 'site_name'|site_name_filter }}</span>
                </a>
              {% else %}
                  <a href="{{ url_for('admin.dashboard') }}">
                    <span style="font-family:'Fredoka One', sans-serif !important; font-weight:200;font-size:36px;color:#0073ff;margin-left:10px;">{{ 'site_name'|site_name_filter }}</span>
                    </a>
              {% endif %}
          {% else %}
          <a href="{{ url_for('page.home') }}">
          <span style="font-family:'Fredoka One', sans-serif !important; font-weight:200;font-size:36px;color:#0073ff;margin-left:10px;">{{ 'site_name'|site_name_filter }}</span>
        </a>
          {% endif %}
      </div>
      <div id="navbar" class="collapse navbar-collapse font-weight__700 mx-lg-4">
        <ul class="nav navbar-nav navbar-right" style="display:inline">
          {% if current_user.role == 'admin' %}
            <li>
              {% include 'admin/_menu.html' %}
            </li>
          {% endif %}
          {% if current_user.is_authenticated %}
              {% if current_user.role == 'member' %}
              {% endif %}
                  <li><a href="{{ url_for('user.dashboard') }}">Dashboard</a></li>
                  <li><a href="{{ url_for('user.contact') }}">Contact Us</a></li>
                  <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
          {% else %}
            <li><a style="padding:10px;" href="{{ url_for('billing.pricing') }}"><span style="font-family: 'Montserrat', sans-serif !important;font-weight:300;letter-spacing: 1.5px;color:#555555;">Pricing</span></a></li>
            <li><a style="padding:10px;" href="{{ url_for('user.contact') }}"><span style="font-family: 'Montserrat', sans-serif !important;font-weight:300;letter-spacing: 1.5px;color:#555555;">Contact Us</span></a></li>
            <li><a style="padding:10px;" href="{{ url_for('user.login') }}"><span style="font-family: 'Montserrat', sans-serif !important;font-weight:300;letter-spacing: 1.5px;color:#555555;">Login</span></a></li>
            <li style=background-color:#4dabf7;border-radius:4px;"><a style="padding:10px;" href="{{ url_for('user.signup') }}"><span style="font-size:12px; font-family: 'Montserrat', sans-serif !important;letter-spacing: 2.5px;color:#fff;">Sign up</span></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block footer %}
  <!--li><a href="{{ url_for('user.signup') }}">Sign up today</a></li-->
{% endblock %}
