{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'billing/macros/billing.html' as billing with context %}

{% block title %}Pricing - {{ 'site_name'|site_name_filter|capitalize }}{% endblock %}
{#% block meta_description %}Different plans for different needs.{% endblock %#}

{% block heading %}
    <div id="pricing" style="width:60%; margin:0 auto; float:none;text-align:center;min-width:240px;">
        <h3 class="xl-font-size font-weight__500">
            One easy price.
        </h3>
        <h5 class="md-font-size font-weight__500">
            Your card doesn't get charged unless we get the domain for you.
        </h5>
    </div>
{% endblock %}

{% block body %}
    <section class="pricing section" style="padding-top:10px;">
        <div class="container" style="min-width:90%;">
            {% import 'billing/macros/billing.html' as billing with context %}
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 mx-auto">
                    <div class="row">
                        <div class="d-lg-block col-4 col-md-2 price-table box box-shadow my-5" style="padding-left:5px;padding-right:5px;min-width:350px;display:block;float:left;margin:0 auto;">
                            <!-- Single Price Table -->
                            <div class="single-price-col text-center p-md-3 p-lg-4 p-xl-5" style="padding:10px !important;">
                                <div class="qdo-pricing font-weight__900">
                                    <sup class="md-font-size font-weight__300">$</sup><span class="xxxxl-font-size font-weight__300" style="font-size:100px;">99</span><br />
                                    <span class="sm-font-size font-weight__300">per backordered domain</span>
                                </div>
                                <!-- Empty Space -->
                                <div class="md-space"></div>
                                <a href="{{ url_for('user.signup') }}" class="btn btn-primary py-2 px-4 sm-font-size font-weight__700">Get started</a>
                                <!--/ End Empty Space -->
                            </div>
                            <!-- End Single Price Table -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<h2 class="text-center">More plans coming soon!</h2>-->
{% endblock %}
